<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <meta charset="UTF-8">
            <title>Reseñas de [[${producto.descripcion}]]</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h2>Reseñas de [[${producto.descripcion}]]</h2>

        <p>Promedio de Calificación: <span th:text="${promedioCalificacion}"></span></p>

        <a th:href="@{/producto/resenas/agregar/} + ${producto.idProducto}" class="btn btn-primary">Agregar Reseña</a>

        <div th:if="${resenas != null and !resenas.empty}">
            <div th:each="resena : ${resenas}" class="card mb-3">
                <div class="card-body">
                    <h5>Escrito por: <span th:text="${resena.usuario.nombre}"></span></h5>
                    <h6>Calificación: <span th:text="${resena.calificacion}">5</span></h6>
                    <p th:text="${resena.comentario}">Comentario de la reseña...</p>
                    <p><small th:text="${#dates.format(resena.fecha, 'dd/MM/yyyy')}">Fecha de la reseña</small></p>

                    <a th:href="@{/producto/resenas/eliminar/} + ${resena.idResena} + '?idProducto=' + ${producto.idProducto}" 
                       class="btn btn-danger">Eliminar Reseña</a>
                </div>
            </div>
        </div>

        <div th:if="${resenas == null or resenas.empty}" class="alert alert-info">
            <p>No hay reseñas para este producto.</p>
        </div>

        <!-- Botón para volver a la lista de productos -->
        <div class="text-center mt-4">
            <a th:href="@{/pruebas/listado}" class="btn btn-primary">Volver a Productos</a>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>



